.top-contents {
  width: 100vw;
  height: 100vh;
  background-color: #abced8;
}

.top-page {
  font-size: 30px;
  padding: 20px 0 0 20px;
  color: #797979;
}

.contents {
  background-color: #82cddd;
  text-align: center;
}

h2 {
  font-size: 35px;
}

.lists {
  list-style: none;
}

.lists-btn {
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #eedcb3;
}

.lists-btn:hover {
  color: #fff;
  background: #eedcb3;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
