* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.title-icon {
  text-decoration: none;
  font-family: 'Vidaloka', serif;
  text-align: center;
  font-weight: normal;
  color: #165e83;
  display:block;
  font-size: 45px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.btn--deepskyblue {
  text-decoration: none;
  margin-right: 3vw;
  color: #fff;
  background-color: #00bfff;
}

.btn--deepskyblue:hover {
  color: #fff;
  background: #00bfff;
}

.btn--orange {
  text-decoration: none;
  color: #fff;
  background-color: #eb6100;
}

.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

