<h2><%= @year %>年 年間収支確認</h2>

<h3>収入合計</h3>

<b><%= @income_total.to_s(:delimited) %> 円</b>

<h3>固定費合計</h3>

<b><%= @fixedcost_total.to_s(:delimited) %> 円</b>

<h3>変動費合計</h3>

<b><%= @variablecost_total.to_s(:delimited) %> 円</b>
