h3 {
  font-size: 27px;
  text-align: center;
  border: 1px solid #abced8;
  background-color: #abced8;
}

input[type="month"] {
  font-size: 20px;
  height: 40px;
  width: 200px;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 7vh;
}

.form-year {
  width: 180px;
  text-align: center;
  background: #eedcb3;
  border: 1px solid #eedcb3;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7vh;
  cursor: pointer;
}

select {
  font-size: 20px;
  height: 40px;
  width: 200px;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 3vh;
}